@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap'); 

html, body, st-emotion-cache [class*="css"] {
    font-family: 'Lexend', sans-serif; 
    font-size: 18px;
    font-weight: 200;
    color: #091747;
}

.st-emotion-cache-nahz7x {
	font-family: "Lexend", sans-serif;
}

h1, h2, h3, h4 {
	font-family: "Lexend", sans-serif;
}